<section class="main">
  <div class="container">

    <div class="row content section">
      <div class=" col-md-4 col-sm-6">
        <span class="glyphicon glyphicon-ok"></span>
        <h3> Hassle Free Parking</h3>
        <p> Find parking with the press of a button, hassle free. Skip the long lines, and get to where you need to be, <b>now</b>. </p>
      </div>

      <div class=" col-md-4 col-sm-6">
        <span class="glyphicon glyphicon-link"></span>

        <h3>Safety Is Our Priority</h3>
        <p>Park with security. Our services guarentee that your vehicle is in good hands. All vehicles parked with parkR are monitered closely by your host. Its safe to say, you<b> can trust us</b>. </p>
      </div>

      <div class=" col-md-4 col-sm-6">
        <span class="glyphicon glyphicon-globe"></span>
        <h3>Park Anywhere Anytime</h3>
        <p> Daily commute? Errand accross town? Headed to the beach? Wherever you are, you can count on parkR for a spot- just make a reservation </p>
        <button type="button" class="btn btn-default">Find a Spot</button>
      </div>

    </div>
  </div>
</section>
