
.main {
  width: 100%;
  padding: 40px;
  margin-top: 200px;
  background-color: #eee;
  margin-bottom: 50px;
  border: 5px 0px solid black;
}

h3 {
  text-align: center;
  font-size: 50px;
}

p {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}

button{
    width: 90%;
    height: 50px;
}

.content{
  background-color: #eee;
}
.content p {
  margin-bottom: 30px;
  font-size: 25px;
}
.section {
  padding: 80px 0;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display:block;
  text-align:center
}

.glyphicon {
  font-size: 60px;
  margin-bottom: 20px;
}

.glyphicon-ok {
  color: green;

}

.glyphicon-link {
  color: darkgrey;
}

.glyphicon-globe {
  color: blue;
}

.btn {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
}

.container {
  width: 80%;
}
