.jumbotron {
  height: 500px;
  margin-top: 80px;
  margin-bottom: 150px;
}

.left {
  float: left;
  width: 50%;
  height: 200px;
}


.right {
  float: right;
  width: 50%;
  height: 200px;

}

.left > img {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  margin-right: 20px;
}

h2 {
  font-size: 50px;
  text-align: left;
  font-weight: 400;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
}

h4 {
  text-align: left;
  font-size: 25px;
  font-weight: 200;
  margin: 0;
  margin-left: 10px
}

h5 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-right: 35px;
}


.cash {
  height: 150px;
  float: right;
  transform: rotate(7deg);
  margin-right: 85px;
  margin-left: 11px;
}

.hRight {
  margin-left: 10px;
}

.container {
  width: 80%;
}

li {
  display: inline;
  margin: 10px;
}
