<div class = "row">

    <div class="jumbotron col-lg-12 col-mg-12 col-sm-6">
      <div class="row">
        <div class="container">
          <div class=" left col-lg-4 col-md-4 col-sm-4">
          <h1> Cities You Can Trust </h1>
          <p>Mick Fanning hack a thon don no kooks priority deep frothing priority rock-n-roll combo paddle battle? Turds in the lineup forehand hook deadly rail to rail good-epic rookie cheater5 lined up, swell. Alley-oop quad tri fin paddle precise Gold Coast. Ocean Beach triple overhead hot glass</p>
          </div>
          <div class=" right col-lg-4 col-md-4 col-sm-4">
            <h1> This is the Right </h1>
            <p>Mick Fanning hack a thon don no kooks priority deep frothing priority rock-n-roll combo paddle battle? Turds in the lineup forehand hook deadly rail to rail good-epic rookie cheater5 lined up, swell. Alley-oop quad tri fin paddle precise Gold Coast. Ocean Beach triple overhead hot glass</p>
            </div>

          </div>

        </div>
      </div>
  </div>
