<div id = "cities" class = "row">

    <div class="jumbotron col-lg-12 col-mg-12 col-sm-6">
      <div class="row">
        <div class="container">
          <div class=" left col-lg-4 col-md-4 col-sm-4">
          <h4> Safe and Modern Cities </h4>
          <h2> You Trust and Love </h2>
          <img src="../assets/images/building.png" alt="">
          <h5> Helping Cities Thrive </h5>
          <p>A city with parkR gives people more ways to make money, clears the roads of congestion, and provides parking anywhere anytime. </p>
          <h5> Cities Using parkR </h5>
          <ul>
            <li>
            -  Miami, FL
            </li>
            <li>
            -  Deerfield Beach, FL
            </li>
            <li>
            -  Fort Lauderdale, FL
            </li>
          </ul>
          </div>
          <div class=" right col-lg-4 col-md-4 col-sm-4">
            <h4 class = "hRight">Quickly Generate</h4>
            <h2 class = "hRight" >Passive Income</h2>
            <img class  = "cash" src="../assets/images/cash.png" alt="cash-money">
            <p class = "hRight"> Put your driveway or lot to good use! Something that would otherwise be sitting, can now collect cash, simply with the <b>lift of a finger</b>. </p>
            </div>

          </div>

        </div>
      </div>
  </div>
