<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navi
          gation</span>
      </button>
      <a routerLink="/"> <img id = "brandLogo" src="../assets/images/parkR.png" alt="logoparkR"> </a>
      <a class="navbar-brand" routerLink ="/">parkR</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#cities"> cities</a></li>
        <li><a  href = "#" (click)="loginModal.show()"> login </a></li>
        <li><a routerLink="#"> become a host</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Login</h4>
        <button type="button" class="close pull-right" (click)="loginModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <!---------- LOGIN POPUP STARTS HERE ---------------->

        <div class="row text-center">
          <h1>Welcome Back</h1>
          <hr>
          <div class="container">
            <label for="name" class = "cols-sm-2 control-label">Email</label>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" [(ngModel)] = "loginInfo.email" class="form-control" name="email" id="name" placeholder="Your Email" />
            </div>
            <label for="password">Password</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="password" [(ngModel)] = "loginInfo.encryptedPassword" class="form-control" name="password" id="name" placeholder="Password" />
            </div>

            <button (click) = "userLogin()" class = "btn btn-primary btn-lg btn-block login-button">Login</button>
          </div>
        </div>

      <!---------- LOGIN ENDS ---------------->
      </div>
    </div>
  </div>
</div>
