.navbar-brand {
  font-weight: bolder;
  color: white;
}

.row {
  margin: 0;
}

nav {
  background: #333;
  padding: 5px;
  box-shadow: 0px 5px 40px 1px rgba(0,0,0,0.35);
}

.nav a {
  font-size: 15px;
  color: white;
}

.container {
  width: 80% !important;
}

.navbar-right {
  font-weight: 200;
  }

.navbar-defailt {
  border-color: black;
  border-top: 0;
}


#brandLogo {
  width: 40px;
  float: left;
  margin-top: 9px;
  margin-right: 10px;
}

.form-control {
  height: 100% !important;
  width: 60%;
}

.container > hr {
  width: 80%;
  color: #333;
}

.input-group > input{
  width: 100%;
  font-size: 20px;
  padding: 10px;
}


.text-center  {
  text-align: left;
}

.text-center >h1   {
  text-align: center;
  margin-bottom: 30px;
}

.container > label {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.login-button {
  margin: 20px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
}
