<div class='image'></div>
<div class='container'>
  <div class='row'>
    <h1>Your time is important</h1>
  </div>
  <div class='row'>
    <div class='hidden-xs col-sm-6 col-lg-7'>
      <div class='info'>

        <h4>INFO</h4>
        <ul>
          <li>
            Who are we?
          </li>
          <li>
            What do we do
          </li>
          <li>
            Some shit
          </li>
        </ul>

      </div>
      </div>
      <div class='col-xs-12 col-sm-5 col-lg-4'>
        <div class='login text-center'>
          <div class='row'>
              <p>Save time</p>
              <button class='btn btn-primary'>Signup</button>
          </div>
            <hr>
          <div class='row'>
            <p>Start Hosting</p>
            <form >
              <input type="text" placeholder="Your name here"><br>
              <input type="text" placeholder="Your Car: ferrari, tesla etc.?"><br>
              <input type="text" placeholder="Do you have any leaking?"><br>
              <input type="text" placeholder="Password(only if you have nice car)"><br>

              <button class='btn btn-primary'>Signup</button>
            </form>


          </div>
        </div>
      </div>

  </div>
</div>
