<div class="row main">
  <div class="header">
    <div class="container">
      <div class="header-content">
          <p><span class="welcome">Welcome,</span><span class="name animated fadeIn">Kevin Da Silva!</span></p>
          <div class="buttonsMain">
            <button type="button" class=" tn btn-default btn-circle btn-lg left animated fadeInDown "><i class="ion-model-s"></i></button>
            <img class = "animated fadeIn" id = "userID" src = "../assets/images/headshot-copy.png">

            <button type="button" class="btn-default btn-circle btn-lg right animated fadeInDown"><i class="ion-email"></i></button>
          </div>
          <div class="search">
            <label for="name" class="-label animated fadeIn">search</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="fullname" id="name" placeholder="Miami" />
            </div>
          </div>


      </div>
    </div>
  </div>
</div>
