.header {
  background: linear-gradient(rgba(255,255,255, .5), rgba(255,255,255, .5)),url(https://c2.staticflickr.com/6/5612/15323395107_a7a80b38ac_b.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.header-content {
  position: absolute;
  top: 90px;
  width: inherit;
  height: 50px;
}

.header-content > p {
  text-align: center;
  margin-top: 10px;
  text-transform: lowercase;
}

.buttonsMain {
  margin: 0 auto;
  text-align: center;
}
.buttonsMain > img {
  width: 200px !important;
  margin-bottom: 30px;
}




.welcome {
  font-weight: 500;
  font-size: 30px;
  margin-right: 10px;
  position: relative;
  bottom: 15px;
}

.name {
  font-weight: 100;
  font-size: 75px;
}

.mainButtons {
  margin: 0 auto;
}




.btn-circle.btn-lg {
  width: 150px;
  height: 150px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 100px;
  background: none;
  border: 1px solid #333;
  display: inline;
  margin-top: 10px;
}

.ion-model-s {
  font-size: 65px;
}

.ion-email {
  font-size: 65px;
}

.btn-circle.btn-lg:hover {
  background: white;
}


.left {
  margin-right:  40px;
}

.right {
margin-left: 40px;
}

.search {
  width: 50%;
  margin: 0 auto;
}

.search > input {
  width: 30px;
  height: 20px;
}

.search > label {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  width: 50%;
  margin-left: 240px;
}
