<div class="row main">
  <div class="header">
    <div class="container">
      <div class="header-content">
          <p><span class="welcome">Welcome</span><span class="name">Kevin Da Silva</span></p>
          <div class="buttonsMain">
            <button type="button" class=" tn btn-default btn-circle btn-lg left "><i class="ion-model-s"></i></button>
            <img id = "userID" src = "../assets/images/headshot-copy.png">
            <button type="button" class="btn-default btn-circle btn-lg right"><i class="ion-email"></i></button>
          </div>


      </div>
    </div>
  </div>
</div>
