<div class="row main">
  <div class="header">
    <div class="container">
      <div class="header-content">
          <p><span class="welcome">Welcome,</span><span class="name animated fadeIn">Kevin Da Silva!</span></p>
          <div class="buttonsMain">
            <button onclick="document.location.href=`/posts`" type="button" class=" tn btn-default btn-circle btn-lg left animated fadeInDown "><i class="ion-map"></i></button>
            <img class = "animated fadeIn" id = "userID" src = "../assets/images/headshot-copy.png">

            <button onclick="document.location.href=`/newPost`" type="button" class="btn-default btn-circle btn-lg right animated fadeInDown"><i class="ion-model-s"></i></button>
          </div>
          <div class="search">
            <label for="name" class="-label animated fadeIn">search</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="fullname" id="name" placeholder="Miami" />
            </div>
          </div>


      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="infoBox">
    <div class="stats col-lg-4 col-md-4 col-sm-12">
      <h4>Balance: <span class = "cash">$282.00</span> </h4>
    </div>
    <div class="stats col-lg-4 col-md-4 col-sm-12">
      <h4>Spots Available:<span class = "spotAvail">4</span> </h4>
    </div>
    <div class="stats col-lg-4 col-md-4 col-sm-12">
      <h4 id = "rates">Rating:</h4>
      <img class = "rating"src="../assets/images/4-stars.png" alt="">
    </div>
    
</div>
<div class="row main2">
  <div class="info footer navbar-fixed-bottom">
    <div class="row py-3">
        <!-- <div class="col-md-9">
          <p class="text-white">Lorem ipsum.</p>
        </div> -->
        <div class="col-md-12">
          <div class="d-inline-block">
            <div class="bg-circle-outline d-inline-block">
              <a href="https://www.facebook.com/" class="text-white"><i class="fa fa-2x fa-fw fa-facebook"></i>
		           </a>
            </div>

            <div class="bg-circle-outline d-inline-block">
              <a href="https://twitter.com/" class="text-white">
                <i class="fa fa-2x fa-fw fa-twitter"></i></a>
            </div>

            <div class="bg-circle-outline d-inline-block social-div">
              <a href="https://www.linkedin.com/company/" class="text-white">
                <i class="fa fa-2x fa-fw fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
