.main{
 	margin-top: 70px;
  margin-bottom: 30px;
  box-shadow: -5px 5px 28px 0px rgba(0,0,0,0.5);
  padding: 30px;
}


hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 15px;
    padding: 25px 25px 25px 5px;

}

.main-login{
 	background-color: #333;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 25px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 850px;
  padding: 40px 40px;

}

.login-button{
	margin-top: 3px;
}

.login-register{
	font-size: 8px;
}

.form-horizontal {
  width: 70% !important;
  margin: 0 auto;
}

.image {
  background-image: url(https://c1.staticflickr.com/3/2609/3933749793_863426c5f9_b.jpg);
  background-position: top;
  z-index: -1;
  width: 100%;
  height: 200px;

}

.form-group > label {
  color: white;
  margin-bottom: 5px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.input-group {
  margin: 0 auto !important;
}

select {
  font-size: 15px;
  padding: 25px 25px 25px 5px;
  border-radius: 0px !important;
}

.title {
  font-size: 50px;;
  font-weight: 200
 }
.title span {
  font-weight: 600;
  color: #90dced;
  text-shadow: 2px 2px #555
}

#headies {
  animation-duration: 2s;
  animation-delay: 0.3s;
  border-bottom: 5px solid #333;
}
