<div class="image animated fadeInDown" id = "headies"></div>
<div class="container">
  <div class="row main animated fadeIn">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h2 class="title">Join <span>parkR</span> today</h2>
        <hr style="height: 1px; width: 50%; background-color: black;">
      </div>
    </div>
    <div class="main-login main-center">
      <form class="form-horizontal" method="post" action="#">

        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">Full Name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input [(ngModel)]="signupInfo.fullname" type="text" class="form-control" name="fullname" id="name" placeholder="Full Name" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Email</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="text" [(ngModel)]="signupInfo.email" class="form-control" name="email" id="email" placeholder="Your Email"  />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label required">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"> <i class="fa fa-password" aria-hidden="true"> </i></span>
              <input [(ngModel)]="signupInfo.encryptedPassword" type="password" class="form-control" name="password" id="password" placeholder="Your Password" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="Vehicle M" class="cols-sm-2 control-label">Vehicle Make</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-globe fa-lg" aria-hidden="true"></i></span>
              <input [(ngModel)]="signupInfo.buyerInfo.carMake" type="text" class="form-control" name="make" id="make" placeholder="Honda" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="Vehicle M" class="cols-sm-2 control-label">Vehicle Model</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-globe fa-lg" aria-hidden="true"></i></span>
              <input  [(ngModel)]="signupInfo.buyerInfo.carModel" type="text" class="form-control" name="model" id="model" placeholder="Civic" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="country" class="cols-sm-2 control-label">Year of Vehicle</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></span>
              <select [(ngModel)]="signupInfo.buyerInfo.carYear" class="form-control" name="country" id="country" placeholder="Please select the year of manufacture">
                                  <option>1990</option>
                                  <option>1991</option>
                                  <option>1992</option>
                                  <option>1993</option>
                                  <option>1994</option>
                                  <option>1995</option>
                                  <option>1996</option>
                                  <option>1997</option>
                                  <option>1999</option>
                                  <option>2000</option>
                                  <option>2001</option>
                                  <option>2002</option>
                                  <option>2003</option>
                                  <option>2004</option>
                                  <option>2005</option>
                                  <option>2006</option>
                                  <option>2007</option>
                                  <option>2008</option>
                                  <option>2009</option>
                                  <option>2010</option>
                                  <option>2011</option>
                                  <option>2012</option>
                                  <option>2013</option>
                                  <option>2014</option>
                                  <option>2015</option>
                                  <option>2016</option>
                                  <option>2017</option>
                                  <option>2018</option>
                                  </select>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <button type="button" (click)="signUp()"class="btn btn-primary btn-lg btn-block login-button">Sign Me Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
